ul.menu { 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-size: 12px;
	}




li {
	float: left;
	border-right: 2px solid #bbb;
	}



li a  { 	
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		
	  }
	  
li a:hover:not(.active)			{
		background-color: blue;
		}
	  

.active {
	background-color: #4CAF50;
	}
	  
	  
body {
   margin:0;
   padding:0;
   height:100%;
}

   
.footer 		{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
				}
				
h1 {
    background-color: #4f92ff;
    color: green;
    width: 3em;
    height: 3em;
    text-align: center;
    
    }				

.top {
	background-color: #4f92ff;
    color: green;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    font-size: 100px;

}
 
.table {
	text-align: center;
		}

header {
		color: lightblue;
		}

header.main { 
        color: black;
        }	
        	




	  
